{% extends 'base.html' %}
{% load static %}

{% block title %}Profile Settings{% endblock %}

{% block content %}
<div class="profile-content" style="max-width: 800px; margin: auto;">
    <div style="text-align: center; border: #d39c3f 3px solid; border-radius: 25px; padding: 25px">
        <h2 class="sniglet" style="color: #d39c3f;">Profile Settings</h2>

        <!-- Learner Type Form -->
        <hr class="sniglet" style="border-top: 3px solid #d39c3f; margin: 20px 0;">
        <form id="learner-type-form" method="post" class="sniglet" style="color: #d39c3f; text-align: center;">
            {% csrf_token %}
            <label for="learner_type">Learner Type:</label>
            <br>
            <select name="learner_type" id="learner_type" style="width: 300px; height: 35px; font-size: 16px; font-family: Sniglet, sans-serif">
                <option value="" hidden>--------</option>
                <option value="1" {% if user.profile.learner_type.id == 1 %} selected {% endif %}>Beginner</option>
                <option value="2" {% if user.profile.learner_type.id == 2 %} selected {% endif %}>Skilled</option>
                <option value="3" {% if user.profile.learner_type.id == 3 %} selected {% endif %}>Advanced</option>
            </select>
            <br>
            <button class="btn btn-primary" type="submit" name="learner_type_submit" style="height: 50px; width: 300px; font-size: 20px; margin-top: 10px;">Save Learner Type</button>
        </form>

        <!-- Profile Picture Form -->
        <hr class="sniglet" style="border-top: 3px solid #d39c3f; margin: 20px 0;">
        <form id="profile-picture-form" method="post" enctype="multipart/form-data" class="sniglet" style="color: #d39c3f; text-align: center;">
            {% csrf_token %}
            <label for="profile_pic_url">Profile Picture:</label>
            <br>
            <input type="file" accept="image/*" name="profile_pic_url" id="profile_pic_url">
            <br>
            <button class="btn btn-primary" type="submit" name="profile_pic_submit" style="height: 50px; width: 300px; font-size: 20px; margin-top: 10px;">Save Profile Picture</button>
            <br>
            <br>
            <button class="btn btn-primary" type="submit" name="default_profile_pic" style="font-size: 20px; height: 50px; width: fit-content; background-color: #578661;">Default</button>
        </form>

        <!-- Notification Settings Form -->
        <hr class="sniglet" style="border-top: 3px solid #d39c3f; margin: 20px 0;">
        <form id="notification-settings-form" method="post" class="sniglet" style="color: #d39c3f; text-align: center;">
            {% csrf_token %}
            <label style="font-size: 24px;">Receive Notifications:</label>
            <br>
            <label style="font-size: 15px;">
                <input type="checkbox" name="new_modules_notifications" value="Send" {% if user.profile.new_modules_notifications == 'Send' %}checked{% endif %}> New Modules Notifications
            </label>
            <br>
            <label style="font-size: 15px;">
                <input type="checkbox" name="quiz_results_notifications" value="Send" {% if user.profile.quiz_results_notifications == 'Send' %}checked{% endif %}> Quiz Results Notifications
            </label>
            <br>
            <label style="font-size: 15px;">
                <input type="checkbox" name="discussion_notifications" value="Send" {% if user.profile.discussion_notifications == 'Send' %}checked{% endif %}> Discussion Notifications
            </label>
            <br>
            <label style="font-size: 15px;">
                <input type="checkbox" name="new_resources_notifications" value="Send" {% if user.profile.new_resources_notifications == 'Send' %}checked{% endif %}> New Resources Notifications
            </label>
            <br>
            <label style="font-size: 15px;">
                <input type="checkbox" name="receive_notifications" id="receive_notifications" value="Send" {% if user.profile.receive_notifications == 'Send' %}checked{% endif %}> All Notifications
            </label>
            <br>
            <button class="btn btn-primary" type="submit" name="receive_notifications_submit" style="height: 50px; width: 100%; font-size: 20px; margin-top: 10px;">Save Notification Settings</button>
        </form>
    </div>
</div>
{% endblock %}
