{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}
<div class="container" style="display: flex; justify-content: center; width: max-content; border: 3px solid #d39c3f; border-radius: 25px; padding: 25px">
        <div class="col-md-9" style="width: max-content">
            <div class="text-center">
                <img src="{% static "leeri_stare.png" %}" style="height: 150px; width: 150px" class="img-fluid" alt="{{ user.username }}'s profile picture">
                <h2 class="sniglet mt-3">Victoria Kondatska</h2>
                <hr style="border: none; border-top: 3px solid #d39c3f; margin: 15px 0;">
                <p class="sniglet text-secondary">Airplane Learning: Polyglot Pro (Project №13)</p>
                <hr style="border: none; border-top: 3px solid #d39c3f; margin: 15px 0;">
                <h3 class="sniglet"><a href="https://t.me/gearbeagel" class="text-info"><i class="fab fa-telegram"></i> Telegram</a></h3>
                <hr style="border: none; border-top: 3px solid #d39c3f; margin: 15px 0;">
                <h3 class="sniglet text-info"><a href="mailto:kondratskayavictoria@gmail.com"><i class="fas fa-envelope"></i> Email</a></h3>
                <hr style="border: none; border-top: 3px solid #d39c3f; margin: 15px 0;">
                <h3 class="sniglet text-info"><a href="https://github.com/gearbeagel/Kondratska.University.AirplaneLearning"><i class="fab fa-github"></i> Github</a></h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}
