{% extends 'base.html' %}
{% load static %}

{% block title %}{{ language.name }} Modules{% endblock %}

{% block content %}
    <h1 style="text-align: center">{{ language.name }} Modules</h1>
    <section class="modules-container">
        <div class="lessons-column">
            <h2 class="column-title">Lessons</h2>
            <div class="lessons module-list">
                {% if lessons %}
                    {% for lesson in lessons %}
                        <div class="module-item">
                            <a href="{% url 'lesson_info' language_id=language.id lesson_id=lesson.id %}" class="module-link sniglet"><button class="btn btn-primary">{{ lesson.title }}</button></a>
                            <span style="flex-grow: 1"></span>
                            <span class="difficulty {{ lesson.difficulty_level }} sniglet"><h3>{{ lesson.difficulty_level|capfirst }}</h3></span>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No lessons available yet. Sorry. :(</p>
                {% endif %}
            </div>
        </div>
        
        <div class="quizzes-column">
            <h2 class="column-title">Quizzes</h2>
            <div class="quizzes module-list">
                {% if quizzes %}
                    {% for quiz in quizzes %}
                        <div class="module-item">
                            <a href="{% url 'lesson_quiz' language_id=language.id quiz_id=quiz.id %}" class="module-link"><button class="btn btn-primary">{{ quiz.title }}</button></a>
                            <span style="flex-grow: 1"></span>
                            <span class="difficulty {{ quiz.difficulty_level }} sniglet"><h3>{{ quiz.difficulty_level|capfirst }}</h3></span>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No quizzes available yet. Sorry. :(</p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
