{% extends 'base.html' %}

{% block title %}
    Dictionary
{% endblock %}

{% block content %}
<h1 class="text-center">Dictionary</h1>
<div class="d-flex justify-content-center">
    <form action="{% url 'dictionary' %}" method="post" class="border rounded p-3" style="width: 500px;">
        {% csrf_token %}
        <label class="form-label fs-5" for="word">Enter a Word:</label>
        <input type="text" name="word" id="word" class="form-control mb-3" style="height: 40px;">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <div class="border-start ps-3">
        {% if meanings %}
            <h2 class="mt-5">"{{ word }}" means:</h2>
            <ul class="list-unstyled border rounded p-3" style="width: 500px;">
                {% for meaning in meanings %}
                    <li class="fs-5">{{ meaning }}</li>
                    <hr class="my-3">
                {% endfor %}
            </ul>
        {% elif word %}
            <p class="mt-5">No meaning for "{{ word }}" found. :(</p>
        {% endif %}
    </div>
</div>
{% endblock %}
