{% extends 'base.html' %}

{% block title %}
    Resources
{% endblock %}

{% block content %}
<h1 class="sniglet" style="text-align: center">Resource feed</h1>
<br>
<div class="grid-container">
    <ul class="grid" style="list-style-type: none; display: flex; flex-wrap: wrap; justify-content: center;">
        <li class="grid-item" style="margin: 10px;">
            <div class="card" style="width: 20rem; border: #d39c3f 3px solid; border-radius: 25px;">
                <div class="card-body">
                    <a href="{% url "dictionary" %}" class="btn btn-primary btn-lg btn-block" style="width: 280px;"><h2>Dictionary</h2></a>
                    <br>
                    <br>
                    <p class="card-text" style="background-color: #CC6666; color: white; padding: 10px 20px; border-radius: 20px; text-align: center; width: max-content">Other</p>
                </div>
            </div>
        </li>
        {% if resources %}
            {% for resource in resources %}
                <li class="grid-item" style="margin: 10px;">
                    <div class="card" style="width: 20rem; border: #d39c3f 3px solid; border-radius: 25px;">
                        <div class="card-body">
                            <a href="{{ resource.source }}" class="btn btn-primary btn-lg btn-block" style="width: 280px;"><h2>{{ resource.name }}</h2></a>
                        <br>
                    <br>
                            <p class="card-text" style="background-color: {% if resource.type == 'Video' %}#578661{% elif resource.type == 'Article' %}#637d91{% elif resource.type == 'Other' %}#CC6666{% endif %}; color: white; padding: 10px 20px; border-radius: 20px; text-align: center; width: max-content">{{ resource.type }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <li>No resources available. :(</li>
        {% endif %}
    </ul>
</div>
<script>
    // Initialize Masonry after the content is loaded
    document.addEventListener('DOMContentLoaded', function() {
        var grid = document.querySelector('.grid-container');
        var masonry = new Masonry(grid, {
            itemSelector: '.grid-item',
            columnWidth: '.grid-item',
            gutter: 20
        });
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>

{% endblock %}
