<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Lesson Added</title>
</head>
<body>
<h1>New Module Added</h1>
<p>Hello, everyone!
    <br>
    We are happy to tell you, that a new {{ resource.related_lesson.module.language.name }} resource
    "{{ resource.name }}" has been added.
    <br>
    Hurry up and check it out!</p>
<br>
<p>Lots of love,
    <br>
    Leari and Plushie.
</p>
<p>
    <br>
    PS: You can turn off these notifications in the profile settings. :)
</p>
</body>
</html>