html,
body {
    height: 100%;
    font-family: Sniglet, system-ui;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.cover-container {
    max-width: 42em;
}

.cover {
    padding: 0 1.5rem;
}

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(0, 0, 0, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(0, 0, 0, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .nav-link.active {
    color: #000;
    border-bottom-color: #000;
}

.cover-heading {
    font-weight: 300;
}

.lead {
    font-weight: 300;
}

.btn-secondary {
    background-color: #333;
    border-color: #333;
}

.btn-primary {
    background-color: #d39c3f;
    border: none
}

.btn-primary:hover {
    cursor: pointer;
    background-color: #d39c3f;
}

h1 {
    color: #d39c3f;
}

h3 {
    font-size: 20px
}

.sniglet {
    font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
}

.scrollable-list {
    max-height: 600px; /* Adjust the max height according to your preference */
    overflow-y: auto;
}

.modules-container {
    display: flex;
    justify-content: space-between;
}

.lessons-column,
.quizzes-column {
    flex: 1;
    margin: 10px;
}

.column-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.module-item {
    background-color: #f8f9fa;
    border: 2px solid #d39c3f;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.module-link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}

.difficulty {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.Easy {
    background-color: #578661; /* Easy */
    color: white;
}

.Medium {
    background-color: #d39c3f; /* Medium */
    color: white;
}

.Hard {
    background-color: #CC6666; /* Hard */
    color: white;
}

.module-list {
    height: 400px; /* Adjust as needed */
    overflow-y: auto;
}
footer {
    text-align: center;
    background-color: #d39c3f;
    color: white;
    padding: 10px 0;
}