body {
    background-color: white;
}

section, .main {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 50%;
    left: 50%;
    width: auto;
    align-items: center;
    margin: -300px 0 0 -600px;
}

button {
    cursor: pointer;
    background-color: #d39c3f;
    font-family: "Sniglet", sans-serif;
    font-size: 35px;
    color: white;
    border-radius: 25px;
    height: 100px;
    width: 400px;
    border-style: none;
}

h1 {
    color: #d39c3f;
    font-size: 80px;
    margin-bottom: -10px;
}

h2 {
    color: #d39c3f;
    font-size: 50px;
}

div, .registration {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 50%;
    left: 50%;
    width: auto;
    align-items: center;
    margin: -150px 0 0 -300px;
    border: solid 1px #d39c3f;
    border-radius: 25px;
    padding: 25px;
    z-index: 1;
}

.sniglet-extrabold {
  font-family: "Sniglet", system-ui;
  font-weight: 800;
  font-style: normal;
}

.sniglet {
    font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
}

.sniglet-bold {
  font-family: "Sniglet", system-ui;
  font-weight: 600;
  font-style: normal;
}


footer {
    color: #588662;
    position: absolute;
    bottom: 0;
}

a, a:hover {
    text-decoration: none !important;
    color: white;
    /* font-size: 25px; */
}

img {
    height: 25%;
    width: 25%;
}

.reg-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reg-button img {
    height: 30%;
    width: 30%;
}

.reg-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d39c3f;
    font-family: "Sniglet", sans-serif;
    font-size: 35px;
    color: white;
    border-radius: 25px;
    height: 100px;
    width: 400px;
    border-style: none;
    z-index: 1;
    position: relative;
}

section, .row {
    margin: -150px 0 0 -500px;
    display: flex;
    flex-direction: row;
}

section, .row_1 {
    margin: -150px 0 0 -600px;
    display: flex;
    flex-direction: row;
}

div, .column {
    margin: -250px 0 0 -200px;
    flex: 1;
    top: 50%;
    left: 50%;
    position: fixed;
    flex-direction: column;
}

p, ul {
    font-family: "Sniglet", sans-serif;
}

div, .lesson-content {
    display: flex;
    position: fixed;
    flex-direction: column;
    margin: -100px 0 0 -600px;
}

.next-section-btn {
    position: absolute;
    top: 300px;
    left: 300px;
    z-index: 1;
}