{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap" rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <title>About</title>
</head>
<body>
<article class="sidebar">

    <a href="/profile"><img src="{% static "/leeri_logo.png" %}" style="height: 30%; width: 115%; margin-left: -10px; margin-bottom: -50px" alt="leari on a plane"></a>
    <p class="sniglet" style="color: white; font-size: 30px">Airplane Learning</p>
    <a class="sniglet" style="font-size: 15px" href="/langs">Go to all languages</a>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px" href="/forums">Go to discussion forums</a>
    <br>
    <br>
    <a href="{% url 'profile_settings' %}" class="sniglet" style="font-size: 15px; ">Go to settings</a>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px" href="{% url 'about' %}">About</a>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px" href="{% url 'logout' %}">Log out</a>
    <footer class="sniglet" style="bottom: 45px; left: 75px">
    <p>© gearbeagel</p>
    </footer>

</article>
<div style="margin: -350px 0 0 -200px; width: 500px">
    <img src="{% static "leeri_stare.png" %}" style="height: 30%; width: 30%; margin-bottom: -25px; margin-left: 25px; margin-right: 25px;" alt="{{ user.username }}'s profile picture">
    <h2 class="sniglet-extrabold" style="color: #d39c3f; margin-bottom: -15px; text-align: center">Victoria Kondatska</h2>
    <hr style="border: none; border-top: 3px solid #d39c3f; width: 100%; margin-top: 20px;">
    <p class="sniglet" style="color: #637d91; margin-bottom: -5px">Airplane Learning: Polyglot Pro (Project №13)</p>
    <hr style="border: none; border-top: 3px solid #d39c3f; width: 100%; margin-top: 20px;">
    <!-- Telegram icon -->
    <h3 class="sniglet" style="margin-bottom: -5px"><a href="https://t.me/gearbeagel" style="color: #637d91"><i class="fab fa-telegram"></i> Telegram</a></h3>
    <hr style="border: none; border-top: 3px solid #d39c3f; width: 100%; margin-top: 20px;">
    <!-- Email icon -->
    <h3 class="sniglet" style="color: #637d91; margin-bottom: -5px"><a style="color: #637d91" href="mailto:kondratskayavictoria@gmail.com"><i class="fas fa-envelope"></i> Email</a></h3>
    <hr style="border: none; border-top: 3px solid #d39c3f; width: 100%; margin-top: 20px;">
    <!-- GitHub icon -->
    <h3 class="sniglet" style="color: #637d91; margin-bottom: -5px"> <a style="color: #637d91" href="https://github.com/gearbeagel/Kondratska.University.AirplaneLearning"><i class="fab fa-github"></i> Github</a></h3>
</div>
</body>
</html>
