<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your comment... was...</title>
</head>
<body>
    <h1>... deleted.</h1>
    <p>Hello there.
        <br>
        Unfortunately, your comment is gone. Why? No clue, maybe you deleted it, maybe admins did.
        It looked like this:
    <br>
        <strong>{{ comment.message }}</strong>
    <p>Be wary next time,
        <br>
        Plushie.
    </p>
    <p>
        <br>
        PS: You can turn off these notifications in the profile settings.
    </p>
</body>
</html>