<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thanks!</title>
</head>
<body>
    <h1>Really, thanks!</h1>
    <p>Hello!
        <br>
        We are happy to tell you, your feedback was received by admins. Thanks for helping us become better! </p>
    <br>
    <p>If you want to give us more detailed feedback, go to this <a href="https://docs.google.com/forms/d/e/1FAIpQLSfn202B-3f_o_fQUIbvktsnCZpvPnAEsm0Fkjduhm_2FOEDMQ/viewform?usp=sharing">form</a>. :)</p>
    <p>Lots of love,
            <br>
        Leari and Plushie.
    </p>
    <p>
        <br>
        PS: You can turn off these notifications in the profile settings. :)
    </p>
</body>
</html>