<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your comment... was...</title>
</head>
<body>
    <h1>... deleted.</h1>
    <p>Hello, {{ user.username }}.
        <br>
        Unfortunately, you are a naughty birdie, and your comment seemed very rude and impolite. Hence, 
        it's not on the forum anymore (Thanks, admins)</p>
        Here's what the comment looks like:
    <br>
        <strong>{{ comment.message }}</strong>
    <p>Be wary next time,
        <br>
        Plushie.
    </p>
    <p>
        <br>
        PS: You can turn off these notifications in the profile settings.
    </p>
</body>
</html>