<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Airplane Learning!</title>
</head>
<body>
    <h1>Welcome to our community!</h1>
    <p>Hello, {{ user.username }}!
        <br>
        My name is Leari the Birdie, and I warmly welcome you to our journey on learning together.
    <br>
        I hope that we are going to have lots of fun together.</p>
    <p>Lots of love,
        <br>
        Leari and Plushie (they are my best friend!).
    </p>
    <p>
        <br>
        PS: You can turn off these notifications in the profile settings. :)
    </p>
</body>
</html>