{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap" rel="stylesheet">
    <title>Feedback Form</title>
</head>
<body>
<article class="sidebar">
    <a class="sniglet" href="{% url "profile_page" username=request.user.username %}"><img
            src="{% static "/leeri_logo.png" %}"
            style="height: 210px; width: 210px; margin-left: -10px; margin-bottom: -50px" alt="leari on a plane"></a>
    <p class="sniglet" style="color: white; font-size: 25px">Airplane Learning</p>
    <hr style="color: white; width: 100%">
    <a class="sniglet">Logged in as: {{ request.user.username }}</a>
    <hr style="color: white; width: 100%">
    <a class="sniglet" href="{% url "profile_page" username=request.user.username %}">Profile</a>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px"
       href="{% url "modules_list" language_id=user.profile.chosen_language.id %}">Modules</a>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px" href="/forums">Discussion Forums</a>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px" href="/resources">Resource Library</a>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px"><u>Feedback Form</u></a>
    <br>
    <br>
    <a href="{% url 'profile_settings' %}" class="sniglet" style="font-size: 15px; ">Settings</a>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px" href="{% url 'schema-swagger-ui' %}">Swagger</a>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px" href="{% url 'logout' %}">Log out</a>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px" href="{% url 'about' %}">About</a>
    <footer class="sniglet" style="bottom: 45px; left: 75px">
        <p>© gearbeagel</p>
    </footer>
</article>
<div class="content">
    <h2 class="sniglet" style="margin-top: -5px">Feedback Form</h2>
    <hr style="border: none; border-top: 3px solid #d39c3f; width: 100%;margin-bottom: 20px; margin-top: -20px">
    <form class="sniglet" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <span class="form-field">
            <label for="{{ form.feedback_type.id_for_label }}" class="sniglet">Feedback Type:</label>
            <br>
            {{ form.feedback_type }}
        </span>
        <br>
        <br>
        <span class="form-field">
            <label for="{{ form.description.id_for_label }}" class="sniglet">Description:</label>
            <br>
            {{ form.description }}
        </span>
        <br>
        <br>
        <span class="form-field">
            <label for="{{ form.screenshot.id_for_label }}" class="sniglet">Screenshot:</label>
            <br>
            {{ form.screenshot }}
        </span>
        <br>
        <br>
        {% if success_message %}
            <p>{{ success_message }}</p>
        {% endif %}
        <button type="submit" style="align-items: center" class="btn sniglet">Submit Feedback</button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const notification = document.querySelector('.notification-container');
        const duration = notification ? parseInt(notification.getAttribute('data-duration')) || 5000 : 5000;
        if (notification) {
            setTimeout(function () {
                closeNotification();
            }, duration);
        }
    });

    function closeNotification() {
        const notification = document.querySelector('.notification-container');
        notification.style.transition = 'opacity 1s';
        notification.style.opacity = 0;

        setTimeout(function () {
            notification.style.display = 'none';
        }, 300);
    }
</script>
</body>
</html>