{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <section class="main">
        <img src="/static/leeri_logo.png" alt="Leeri on an airplane!" style="height: 30%; width: 30%; margin-bottom: -175px;">
        <br>
        <h1 class="sniglet-extrabold">Airplane Learning</h1>
        <br>
        <a href="/register"><button>Get started</button></a>
    </section>
<footer class="sniglet">
    <p>© gearbeagel (Victoria Kondratska)</p>
</footer>
</body>
</html>