<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make a choice</title>
</head>
<body>
<h1 class="sniglet-extrabold" style="text-align: center">Before we start, it would be great if you could answer a couple of questions.</h1>
<h2 class="sniglet-bold" style="text-align: center">Choose a language to learn and a learning path</h2>
<div class="row">
    <form method="post" action="{% url 'language_and_learning_path_choice_submit' %}">
        {% csrf_token %}
        <h3>Which language would like to focus on?:</h3>
        {% for language in languages %}
            <label>
                <input type="radio" name="chosen_language" value="{{ language.name }}">
                {{ language.name }}
            </label>
            {% if language.joke %}
                <p>{{ language.joke }}</p>
            {% endif %}
            <br>
        {% endfor %}
        <h3>Choose a learning path for that language:</h3>
        {% for level, description in learning_paths.items %}
            <label>
                <input type="radio" name="chosen_learning_path" value="{{ level }}">
                {{ level }}
            </label>
            <p>{{ description }}</p>
            <br>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</div>
<div class="row">
    
</div>

</body>
</html>
