{% load quiz_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ quiz.title }}</title>
</head>
<body>
    <h1>{{ quiz.title }}</h1>
    <form method="post" action="{% url 'quiz_result' language.id quiz.id %}">
        {% csrf_token %}
        {% for question in questions %}
            <h3>{{ question.text }}</h3>
            {% for answer in answers_dict|get_value:question %}
                <label>
                    <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
                    {{ answer.text }}
                </label><br>
            {% endfor %}
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
<a href="{% url 'all_possible_classes' %}">Back to All Languages</a>
<footer class="sniglet">
    <p>© gearbeagel (Victoria Kondratska)</p>
</footer>
</body>
</html>
