<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ quiz.title }}</title>
</head>
<body>
    <h1>{{ quiz.title }}</h1>
    <form method="post" action="{% url 'quiz_result' language.id quiz.id %}">
    {%  if quiz.status == 'Not Started' %}
    {% csrf_token %}
    {% for question in questions %}
        <h3>{{ question.text }}</h3>
        {% for answer in question.answer_set.all %}
            <label>
                <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
            </label> {{ answer.text }}<br>
    <button type="submit">Submit</button>
    </form>
        {% endfor %}
    {% endfor %}
    {% elif quiz.status == 'Completed' %}
        <p>You have already passed this quiz. :c</p>
        <a href="{% url 'all_possible_classes' %}">Back to All Languages</a>
    {% endif %}
</body>
</html>
