{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap" rel="stylesheet">
    <title>{% block title %}Forums{% endblock %}</title>
</head>
<body>
{% block sidebar %}
<article class="sidebar">
    <a class="sniglet" href="{% url "profile_page" username=request.user.username %}"><img src="{% static "/leeri_logo.png" %}" style="height: 30%; width: 115%; margin-left: -10px; margin-bottom: -50px" alt="leari on a plane"></a>
    <p class="sniglet" style="color: white; font-size: 30px">Airplane Learning</p>
    <a class="sniglet" href="{% url "profile_page" username=request.user.username %}">Profile</a>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px" href="{% url "modules_list" language_id=user.profile.chosen_language.id %}">Modules</a>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px"><u>Discussion Forums</u></a>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px" href="/resources">Resource Library</a>
    <br>
    <br>
    <a href="{% url 'profile_settings' %}" class="sniglet" style="font-size: 15px; ">Settings</a>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px" href="{% url 'about' %}">About</a>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px" href="{% url 'logout' %}">Log out</a>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px" href="{% url 'schema-swagger-ui' %}">Swagger</a>
    <footer class="sniglet" style="bottom: 45px; left: 75px">
        <p>© gearbeagel</p>
    </footer>
</article>
{% endblock %}
<h1 class="sniglet" style="margin-left:300px; text-align: center">Twe-e-etscussion forums!</h1>
{% block content %}
{% if all_topics %}
    <ul style="margin-left: 300px; list-style-type: none">
    {% for topic in all_topics %}
        <li style="border: solid 3px #d39c3f; border-radius: 25px; width: 1300px; margin: 10px; padding: 10px">
            <span style="display: flex; align-items: center"><h2 class="sniglet">{{ topic.title }}</h2><span style="flex-grow: 1;"></span><a href="{% url 'topic_page' topic_id=topic.id %}"><button>Start Discussing</button></a></span>
            <hr style="border: none; border-top: 3px solid #d39c3f; width: 100%; margin-top: 20px;">
        <h3 class="sniglet" ><span style="color: #d39c3f">Lesson:</span>  {{ topic.subject }}</h3>
        <h3 class="sniglet" style="margin-top: -10px"><span style="color: #d39c3f">Description:</span>  {{ topic.description }}</h3>
        </li>
{% endfor %}
    </ul>
{% else %}
    <h2 class="sniglet-bold" style="text-align: center;">Start a discussion here.</h2>
<p class="sniglet" style="text-align: center">Sorry, no topics available. :c</p>
{% endif %}
{% endblock %}
</body>
</html>