{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <title>{{ language.name }} Modules</title>
</head>
<body>
    <h1 class="sniglet-extrabold">{{ language.name }} Modules</h1>
    <h2 class="sniglet-bold">Lessons</h2>
    <ul>
    {% if lessons %}
        {% for lesson in lessons %}
                        <li><a href="{% url 'lesson_info' language_id=language.id lesson_id=lesson.id %}" class="sniglet" 
                               style="color: #d39c3f">{{ lesson.title }}</a> ({{ lesson.status }})</li>
                            <p>{{ lesson.description }}</p>
                            <p>Difficulty: {{ lesson.difficulty_level }}</p>
                    
        {% endfor %}
    {% else %}
    <li>No lessons available yet. Sorry. :(</li>
    {% endif %}
    </ul>
    <br>
    <h2 class="sniglet-bold">Quizzes</h2>
    <ul>
    {% if quizzes %}
        {% for quiz in quizzes %}
            <li><a href="{% url 'lesson_quiz' language_id=language.id quiz_id=quiz.id %}" class="sniglet"
                   style="color: #d39c3f">{{ quiz.title }}</a> ({{ quiz.status }})</li>
                    <p>{{ quiz.description }}</p>
                    <p>Difficulty: {{ quiz.difficulty_level }}</p>
        {% endfor %}
    {% else %}
        <li><p>No quizzes available yet. Sorry. :(</p></li>
    {% endif %}
    </ul>
    <a href="{% url 'all_possible_classes' %}">Back to All Languages</a>
<footer class="sniglet">
    <p>© gearbeagel (Victoria Kondratska)</p>
</footer>
</body>
</html>
