<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Languages</title>
</head>
<body>
<h1>Choose a language to learn</h1>
<div class="card">
  <div class="container">
    <h4><b>English</b></h4>
    <p>Would you like a cup of tea?</p>
  </div>
</div>
<div class="card">
  <div class="container">
    <h4><b>German</b></h4>
    <p>[insert german joke]</p>
  </div>
</div>
<div class="card">
  <div class="container">
    <h4><b>Spanish</b></h4>
    <p>[insert spanish joke]</p>
  </div>
</div>
</body>
</html>