{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap" rel="stylesheet">
    <title>Profile</title>
</head>
<body>
<article class="sidebar">
    
    <img src="{% static "/leeri_logo.png" %}" style="height: 30%; width: 110%; margin-left: -10px; margin-bottom: -50px" alt="leari on a plane">
    <p class="sniglet" style="color: white; font-size: 30px">Airplane Learning</p>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px" href="/langs">Go to all languages</a>
    <br>
    <br>
    <a href="{% url 'profile_settings' %}" class="sniglet" style="font-size: 15px; ">Go to settings</a>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px" href="{% url 'logout' %}">Log out</a>
    <footer class="sniglet">
    <p>© gearbeagel</p>
    </footer>
    
</article>
<div style="margin: -350px 0 0 -275px; width: 500px;">
    <img src="{{ student.profile_pic_url }}" style="height: 25%; width: 25%; margin-bottom: -25px" alt="{{ user.username }}'s profile picture">
    <h2 class="sniglet-extrabold">{{ user.username }}</h2>
    <h3 class="sniglet-bold">{{ user.first_name }} {{ user.last_name }}</h3>
    <h3 class="sniglet">{{ student.learner_type }}</h3>
    <h3 class="sniglet">Your progress: {{ student.progress }}%</h3>
</div>
</body>
</html>