{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap" rel="stylesheet">
    <title>{% block title %}Profile {% endblock %}</title>
</head>
<body>
{% block sidebar %}
<article class="sidebar">

    <img src="{% static "/leeri_logo.png" %}" style="height: 30%; width: 115%; margin-left: -10px; margin-bottom: -50px" alt="leari on a plane">
    <p class="sniglet" style="color: white; font-size: 30px">Airplane Learning</p>
    <a class="sniglet" style="font-size: 15px" href="/langs">Go to all languages</a>
    <br>
    <br>
    <a href="{% url 'profile_settings' %}" class="sniglet" style="font-size: 15px; ">Go to settings</a>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px" href="{% url 'about' %}">About</a>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px" href="{% url 'logout' %}">Log out</a>
    <footer class="sniglet" style="bottom: 45px; left: 75px">
    <p>© gearbeagel</p>
    </footer>

</article>
{% endblock %}
{% block content %}
<div style="margin: -350px 0 0 -200px; width: 500px">
    <img src="{{ student.profile_pic_url }}" style="height: 30%; width: 30%; margin-bottom: -25px; margin-left: 25px; margin-right: 25px;" alt="{{ user.username }}'s profile picture">
    <h2 class="sniglet-extrabold" style="color: #d39c3f; margin-bottom: -15px">{{ user.username }}</h2>
    <hr style="border: none; border-top: 3px solid #d39c3f; width: 100%; margin-top: 20px;">
    <h3 class="sniglet-bold" style="color: #d39c3f; margin-bottom: -5px">{{ user.first_name }} {{ user.last_name }}</h3>
    <p class="sniglet" style="color: #d39c3f; margin-bottom: -5px">{{ user.email }}</p>
    <hr style="border: none; border-top: 3px solid #d39c3f; width: 100%; margin-top: 20px;">
    <h3 class="sniglet" style="color: #637d91; margin-bottom: -5px">{{ student.learner_type }}</h3>
    <h3 class="sniglet" style="color: #637d91; margin-bottom: -5px">Your progress: <span style="color: #578661;">{{ student.progress|floatformat:2 }}%</span></h3>
    <hr style="border: none; border-top: 3px solid #d39c3f; width: 100%; margin-top: 20px;">
    <h3 class="sniglet" style="color: #d39c3f; margin-bottom: -5px">Latest lesson: {{ latest_lesson.lesson.title|default:"none passed. :(" }} ({{ latest_lesson_language.name|default_if_none:"" }})</h3>
    <h3 class="sniglet" style="color: #d39c3f; margin-bottom: -5px">Latest quiz: {{ latest_quiz.quiz.title|default:"none passed. :(" }} ({{ latest_quiz_language.name|default:"It won't hurt to try!"}})</h3>
</div>
{% endblock %}
</body>
</html>