{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <title>Profile</title>
</head>
<body>
<img src="{{ student.profile_pic_url }}" style="height: 15%; width: 15%" alt="{{ user.username }}'s profile picture">
<p>This is your profile. Hello, {{ user.username }}</p>
<p>Your progress: {{ student.progress }}%</p>
<a href="/langs">Let's start studying, shall we?</a>
</body>
</html>
