{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <title>Resources</title>
</head>
<body>
<article class="sidebar">
    <a class="sniglet" href="{% url "profile_page" username=request.user.username %}"><img src="{% static "/leeri_logo.png" %}" style="height: 30%; width: 115%; margin-left: -10px; margin-bottom: -50px" alt="leari on a plane"></a>
    <p class="sniglet" style="color: white; font-size: 30px">Airplane Learning</p>
    <a class="sniglet" href="{% url "profile_page" username=request.user.username %}">Profile</a>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px" href="{% url "modules_list" language_id=user.profile.chosen_language.id %}">Modules</a>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px" href="/forums">Discussion Forums</a>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px"><u>Resource Library</u></a>
    <br>
    <br>
    <a href="{% url 'profile_settings' %}" class="sniglet" style="font-size: 15px; ">Settings</a>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px" href="{% url 'about' %}">About</a>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px" href="{% url 'logout' %}">Log out</a>
    <br>
    <br>
    <a class="sniglet" style="font-size: 15px" href="{% url 'schema-swagger-ui' %}">Swagger</a>
    <footer class="sniglet" style="bottom: 45px; left: 75px">
        <p>© gearbeagel</p>
    </footer>
</article>
    <h1 class="sniglet" style="margin-left: 500px">Welcome to the Resources Page!</h1>
<br>
    <ul style="list-style-type: none; margin-left: 300px;">
        <li style="border: #d39c3f 3px solid; border-radius: 25px; padding: 20px; width: 1300px"><a href="{% url "dictionary" %}"><button>Dictionary</button></a></li>
    </ul>
</body>
</html>
