{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Airplane Learning!</h1>
        <p class="lead">Start your journey to knowledge with us.</p>
        <hr class="my-4">
        {% if request.user.is_authenticated %}
        <a class="btn btn-primary btn-lg" href="{% url 'modules_list' language_id=user.profile.chosen_language.id %}" role="button">Explore Modules</a>
    </div>
    {% else %}
    <div class="google-registration">
        <h2>Register with Google</h2>
        <p>Click the button below to register with your Google account.</p>
        <a href="{% url 'register' %}" class="btn btn-primary"><i class="fab fa-google"></i> Register with Google</a>
    </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        // Show Google registration modal on page load
        $(document).ready(function(){
            $('#googleModal').modal('show');
        });
    </script>
{% endblock %}
