{% extends 'base.html' %}
{% load static %}

{% block title %}
    Make a Choice
{% endblock %}

{% block content %}
    <h2 class="sniglet" style="text-align: center;">Before we start, it would be great if you could answer a couple of questions.</h2>
    <div class="container" style="display: flex; justify-content: center;">
        <form method="post" action="{% url 'setup' %}" style="display: block; text-align: center;">
            {% csrf_token %}
            <div class="column" style="margin-right: 50px; border-radius: 25px; border: #d39c3f 3px solid; padding: 15px">
                <h3 class="sniglet">Which language would you like to focus on?</h3>
                <hr class="sniglet" style="border-top: 3px solid #d39c3f;">
                {% for language in form.chosen_language.field.queryset %}
                    <label class="sniglet">
                        <input type="radio" name="chosen_language" value="{{ language.id }}">{{ language.name }}
                    </label>
                    {% if language.joke %}
                        <p>{{ language.joke }}</p>
                    {% endif %}
                    <br>
                {% endfor %}
            </div>
            <div class="column" style="margin-top: 20px; border-radius: 25px; border: #d39c3f 3px solid; padding: 15px">
                <h3 class="sniglet">Choose a learning path for that language:</h3>
                <hr class="sniglet" style="border-top: 3px solid #d39c3f;">
                {% for lp in form.learner_type.field.queryset %}
                    <label class="sniglet">
                        <input type="radio" name="learner_type" value="{{ lp.id }}">{{ lp.title }}
                    </label>
                    <p>{{ lp.description }}</p>
                    <br>
                {% endfor %}
            </div>
            <div style="margin-top: 20px;">
                <button type="submit" class="submit-button btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}
