{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Forums{% endblock %}

{% block content %}
    <div style="margin-left: 30px; text-align: center;">
        <h1 class="sniglet" style="margin-top: 30px;">Twe-e-etscussion forums!</h1>

        <!-- Search input field -->
        <div style="margin-top: 20px;">
            <i class="fas fa-search" style="margin-right: 10px;"></i>
            <input style="font-family: Sniglet, sans-serif; border: solid 3px #d39c3f; border-radius: 25px; width: 50%; max-width: 600px; padding: 10px;"
                   type="text" id="searchInput" onkeyup="filterTopics()" placeholder="Search topics...">
        </div>
    </div>
    <br>
    <ul id="topicList" class="scrollable-list" style="list-style-type: none; margin: 0 auto; max-width: 800px;">
        {% if all_topics %}
            {% for topic in all_topics %}
                <li style="border: solid 3px #d39c3f; border-radius: 25px; margin: 10px 0; padding: 10px;">
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <h2 class="sniglet" style="margin: 0;">{{ topic.title }}</h2>
                        <a href="{% url 'topic_page' topic_id=topic.id %}">
                            <button class="btn btn-primary" style="font-size: 14px; padding: 8px 15px;">Start Discussing</button>
                        </a>
                    </div>
                    <hr style="border: none; border-top: 3px solid #d39c3f; margin: 15px 0;">
                    <h3 class="sniglet" style="color: #d39c3f; margin: 0;">Lesson: {{ topic.subject }}</h3>
                    <h3 class="sniglet" style="color: #d39c3f; margin-top: -5px; margin-bottom: 15px;">Description: {{ topic.description }}</h3>
                </li>
            {% endfor %}
        {% else %}
            <h2 class="sniglet-bold" style="text-align: center;">Start a discussion here.</h2>
            <p class="sniglet" style="text-align: center;">Sorry, no topics available. :c</p>
        {% endif %}
    </ul>
    <script>
    function filterTopics() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('searchInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById("topicList");
        li = ul.getElementsByTagName('li');

        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("h2")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>
{% endblock %}
