{% extends 'base.html' %}
{% load static %}
{% load forums_extras %}

{% block title %}
    {{ topic.title }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">{{ topic.title }}</h1>
        <ul class="list-unstyled">
            <li class="border rounded p-3 mb-3">
                <h3 class="text-primary">Lesson: {{ topic.subject }}</h3>
                <hr>
                <h3 class="text-primary">Discussion: {{ topic.description }}</h3>
            </li>
        </ul>
        <h2 class="text-center mb-3">Comments:</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="comment_text" class="form-label">Enter your comment here:</label>
                <textarea class="form-control comment_text" id="comment_text" name="comment_text" rows="4"
                          cols="200"></textarea>
                <span class="character-count"
                      style="font-family: Sniglet, sans-serif; position: absolute; bottom: 3px; right: 5px; color: darkblue;"></span>
                {% if message %}
                    <p class="text-danger">{{ message }}</p>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Add comment</button>
        </form>
        <div class="overflow-auto" style="max-height: 400px;"> <!-- Adjust max-height as needed -->
            <ul class="list-unstyled mt-3">
                {% if all_comments %}
                    {% for comment in all_comments %}
                        <li class="border rounded p-3 mb-3 position-relative">
                            <div class="d-flex align-items-start">
                                <a href="{% url "profile_page" username=comment.created_by.username %}">
                                    <img src="{{ comment.created_by|get_profile_picture_url }}"
                                         class="rounded-circle me-3" style="width: 50px; height: 50px;"
                                         alt="{{ comment.created_by.username }}'s profile picture">
                                </a>
                                <div>
                                    <p class="text-primary mb-1"><a
                                            onclick="insertUsername('{{ comment.created_by.username }}')">{{ comment.created_by.username }}</a>
                                        • <span class="text-secondary">{{ comment.humanized_created_at }}</span></p>
                                    <p>{{ comment.message }}</p>
                                </div>
                            </div>
                            {% if is_admin or request.user.profile == comment.created_by %}
                            <form action="{% url 'delete_comment' comment_id=comment.id %}" method="post"
                                  class="position-absolute end-0 top-0 py-4">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link"><i class="fas fa-trash text-danger"></i>
                                </button>
                            </form>
                        {% endif %}
                        </li>
                    {% endfor %}
                {% else %}
                    <p class="text-center">No comments available. :(</p>
                {% endif %}
            </ul>
        </div>
    </div>

    <script>
        function insertUsername(username) {
            var textarea = document.querySelector('.comment_text');
            textarea.value = '@' + username + ' ';
            textarea.focus();
        }

        function countChars() {
            var commentTextAreas = document.querySelectorAll(".comment_text");

            for (var i = 0; i < commentTextAreas.length; i++) {
                commentTextAreas[i].onkeyup = function () {
                    var text_max = 500;
                    var text_length = this.value.length;
                    var text_remaining = text_max - text_length;
                    var characterCountLabel = this.nextElementSibling;

                    characterCountLabel.innerHTML = "Character count: " + text_length + "/" + text_max;

                    if (text_length >= text_max) {
                        characterCountLabel.style.color = "red";
                    } else {
                        characterCountLabel.style.color = "lightgray"; // Reset color if not maxed out
                    }
                };
            }
        }

        countChars();
    </script>
{% endblock %}
